:root {
    --text-color: white; 
    --bg-url: url(./assets/bg-mobile.jpg);
    --stroke-color: rgba(255, 255, 255, 0.5);
    --surface-color: rgba(255, 255, 255, 0.1);
    --switch-bg-url: url(./assets/MoonStars.svg);
}

.light {
    --text-color: black;
    --bg-url: url(.assets/bg-mobile-light.jpg);
    --stroke-color: rgba(0, 0, 0, 0.5);
    --surface-color: rgba(0, 0, 0, 0.05);
    --switch-bg-url: url(./assets/Sun.svg);

}

body {
    background-image: var(--bg-url);
    background-repeat: no-repeat; 
    background-position: top center;
    background-size: cover; 
    padding-top: 56px;
    padding-left: auto;
    padding-right: auto;
}

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}


.conteiner {
    border: 1px solid grey;
    width: 588px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    border-radius: 5px;
}

#user{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin-top: 8px;
}

#switch {
    margin-top: 10px;
    position: relative;
    width: 64px;
}

#switch button{
    width: 32px;
    height: 32px;
    background-image: var(--switch-bg-url);
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    border: 0;
    border-radius: 50%;
    position: absolute;
    left: 0;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
}

.light #switch button {
    right: 0;
    left: initial;
}

#switch span {
    display: block;
    width: 64px;
    height: 24px;
    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    backdrop-filter: blur(4px);
    border-radius: 9999px;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 540px;
    text-align: center;
    list-style-type: none;
    margin-top: 8px;
}

ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 24px;
    background: rgb(255, 255, 255, 0.1);
    border: 1px solid var(--stroke-color);
    border-radius: 8px;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.5s;
}

ul li a:hover {
    background: var(--surface-color);
    border: 1.5px solid var(--text-color);
}

.social_links {
    display: flex;
    gap: 16px;
    text-align: center;
    justify-content: center;
    list-style-type: none;
    padding: 24px;
}